 .u-section-1 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 508px;
  height: 508px;
  margin: -106px auto 0;
}

.u-section-1 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/PicsArt_07-19-02.36.12-removebg-preview-120x120.png");
  background-position: 50% 50%;
  margin: -86px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: -22px 349px 60px 443px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    width: 348px;
    margin-left: 343px;
    margin-right: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 233px;
    margin-right: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -32px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: -72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -93px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    font-weight: 700;
    margin: -27px -33px 38px 33px;
  }
} .u-section-2 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 0 auto 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 0.625rem;
  width: auto;
  margin: -178px auto 60px;
}

.u-section-2 .u-image-2 {
  width: 170px;
  height: 170px;
  margin: 266px auto 41px -32px;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -233px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
    margin-right: -50px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin-top: -120px;
    margin-right: 85px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 85px;
    margin-bottom: 0;
    margin-left: -50px;
  }

  .u-section-2 .u-text-2 {
    width: 169px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    margin: -133px auto 32px;
  }
} .u-section-3 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: -81px -50px 60px auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -92px 18px 60px 91px;
}

.u-section-3 .u-image-2 {
  width: 170px;
  height: 170px;
  margin: 117px auto 60px -50px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 60px 67px 60px 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -33px;
    margin-right: -52px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.625rem;
    margin: -117px 20px 0 147px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 124px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -170px 20px 16px 89px;
  }
} .u-section-4 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 330px;
}

.u-section-4 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: -48px -50px 60px auto;
}

.u-section-4 .u-text-1 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -6px 0 60px 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -7px auto 60px 106px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(#55f9fc, #5bb7b9);
  font-weight: normal;
  font-size: 1rem;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-top: 72px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -117px auto 0 36px;
  }

  .u-section-4 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 13px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    margin: -33px auto 60px 18px;
    padding: 0 10px;
  }
} .u-section-5 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 332px;
}

.u-section-5 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: -68px auto 60px -50px;
}

.u-section-5 .u-text-1 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 30px auto 60px 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 48px 55px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 30px 48px 60px auto;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(#55f9fc, #5bb7b9);
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: -48px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -107px 56px 0 auto;
  }

  .u-section-5 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 93px;
    margin-right: 39px;
  }

  .u-section-5 .u-text-2 {
    font-weight: 700;
    font-size: 0.625rem;
    width: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -82px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    margin: 32px auto 60px;
    padding: 6px 30px;
  }
} .u-section-6 {
  background-image: url("images/358b44c0f5db69a3132bdb314da04c01d14326b9ad29d3364c6ae8910b821b7cb9ca1da9f765e3dc67de0ea06a43f881c598370e26c4320f630061_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 342px;
}

.u-section-6 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 8px -50px 60px auto;
}

.u-section-6 .u-text-1 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -48px 88px 60px 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 120px 0 auto;
}

.u-section-6 .u-btn-1 {
  border-style: none none dotted;
  font-size: 1.25rem;
  margin: -34px auto 60px 93px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -62px 87px 0 auto;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 14px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 78px;
  }
}